* {
  margin: 0;
  padding: 0 1vmin;
  box-sizing: border-box;
}

body {
  margin: 5vmin auto;
  background-color: #a9d7d1;
  text-align: center;
  background-image: url('https://cdn-images-1.medium.com/max/1024/0*1yGJPwNHuhDZLyLq.jpg');
}


#main {
  width: 80vmax;
  margin: auto;
  padding: 2vmin 5vmin;
  /* background-color: #fafafa; */

}

.form-div {
  margin: auto;
  width: 38vw;
  /* display: flex; */
}

#survey-form {
  background-color: #fafafa;
  margin: auto;
  /* width: 70vmax; */
  border-radius: .8vmin;
  border: .5vmin solid #b3d5d2;
}

#name-label, #email-label, #number-label, #option-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2vmin 2vmin;
}

.inp-paragraph {
  text-align: right;
  width: 30vmin;
  display: inline;
  /* border: 1px solid black; */
}

.radio-div, .checkbox-div, .textarea-div {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}

.radio-label, .checkbox-label {
  display: flex;
  align-items: center;
}

#submit {
    background-color: #59ace0;
    border-radius: .5vmin;
    color: white;
    font-size: 1em;
    height: 5vmin;
    width: 15vmin;
    margin: 2vmin;
    border: 0 solid;
}


.inp-field  {
  width: 22vmin;
  height: 5vmin;
}
